

@media (min-width: 320px) and (max-width: 780px) {
.main-text{
    margin-left: 10px;
}
.footer-logo {
  max-width: 7rem; /* Adjust the size as needed */
}

  }

  @media (min-width: 320px) and (max-width: 480px) {
    #social-footer{
      display:grid;
          }
          
          .github-calander{
  margin-top: 15rem;
          }
    
      }

      @media (min-width: 1000px) and (max-width: 1100px) {

              .github-calander{
      margin-top: 15rem;
              }
        
          }
